<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Generator: Gravit.io --><svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="isolation: isolate"
  viewBox="0 0 24 24"
  width="24pt"
  height="24pt"
>
  <defs>
    <clipPath id="_clipPath_O5ATzyGGP4aYxdhkFvhoKQwEGWig9jwq">
      <rect width="24" height="24" />
    </clipPath>
  </defs>
  <g clip-path="url(#_clipPath_O5ATzyGGP4aYxdhkFvhoKQwEGWig9jwq)">
    <path
      d=" M 3.563 11.324 L 3.563 16.203 L 6.582 19.217 L 9.54 16.268 L 14.414 16.268 L 17.371 19.217 L 20.437 16.156 L 20.437 11.324 L 12.105 2.566 L 3.563 11.324 Z "
      fill="rgb(255,255,255)"
      vector-effect="non-scaling-stroke"
      stroke-width="2"
      stroke="rgb(0,0,0)"
      stroke-linejoin="miter"
      stroke-linecap="square"
      stroke-miterlimit="3"
    />
  </g>
</svg>
